.gn-button {
    position: relative;
    display: inline-block;
    min-width: 260px;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    border-radius: 2px;
    text-align: center;
    background: linear-gradient(180deg, @color-button-bg-start 0%, rgba(255, 255, 255, 0) 100%), @color-button-bg-end;
    .font-bold;
    font-size: 16px;
    color: @color-text-inverted;
    letter-spacing: 0.05em;
    white-space: nowrap;
    user-select: none;

    &._primary {
        min-width: 172px;
        padding: 0 10px;
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        background: @color-button-primary-bg;
    }

    &._big {
        height: 40px;
        line-height: 40px;
    }

    &._submit {
        height: 36px;
        line-height: 36px;
        width: 100%;
        min-width: 200px;
    }

    &[disabled] {
        background: @color-panel-secondary;
    }

    &__message {
        padding: 4px 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        visibility: hidden;
        color: @color-text-inverted;
        .font-bold;
        font-size: 12px;
        line-height: 15px;
        white-space: normal;
    }

    // show message
    &._show-message {
        color: transparent;
    }

    &._show-message &__message {
        visibility: visible;
    }

    &._submit._show-message {
        background: #6FCF97;
    }
}