.gn-not-found {
    padding: 19px 0 28px;
    background: @color-panel-primary;
    text-align: center;
    .font-light;
    font-size: 18px;

    &__header {
        margin: 0 0 2px;
        font-size: 32px;
        .font-regular;
    }

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__text {
        padding: 7px 0 0;
        max-width: 550px;
        text-align: left;
    }

    &__button {
        margin: 0 0 0 24px;
    }
}