.gn-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    &-content {
        flex-grow: 1;

        &._bordered {
            border-top: 10px solid @color-panel-primary;
        }
    }

    &-row {
        min-width: 1024px; // TODO remove this after implement resolutions smaller than 1024
        max-width: 1024px;
        margin: 0 auto;
        padding-left: @page-side-padding;
        padding-right: @page-side-padding;
    }
}