.gn-popup {
    display: flex;
    align-items: flex-start;
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(79, 79, 79, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease,
                visibility .3s ease .3s;

    &._active {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s ease,
                    visibility .3s ease;
    }

    &._active &__panel {
        transform: translate3d(0, 0, 0);
    }

    &._small &__panel {
        width: 349px;
        padding: 20px 30px;
    }

    &._gray &__panel {
        background: @color-panel-primary;
    }

    &__wrapper {
        padding: 50px 0;
        margin: auto;
    }

    &__panel {
        position: relative;
        width: 706px;
        padding: 16px;
        background: @color-popup-bg;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transform: translate3d(0, -200px, 0);
        transition: transform .3s ease;
    }

    &__header {
        margin: 0 0 21px;
        .font-regular;
        font-size: 30px;
        line-height: 38px;
        color: @color-text-primary;
    }

    &__close {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        .icon_cross;
        background-position: center;
        cursor: pointer;
        .hover-default;
    }

    &__submit-info {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 30px;
        background: @color-background-global;
        color: @color-text-primary;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease .3s,
                    opacity .3s ease;

        &._gray {
            background: @color-panel-primary;
        }

        &._vertical {
            flex-flow: column nowrap;
            text-align: center;
            padding: 10px 66px 22px;
        }

        &._vertical &-img {
            margin: 0;
        }

        &._vertical &-header {
            margin: 10px 0 13px;
            flex: 0 0 auto;
        }

        &._vertical &-text {
            flex: 0 0 auto;
        }

        &-img {
            .userpic(53px);
            margin: 0 34px 0 0;
        }

        &-header {
            flex: 0 0 69%;
            font-size: 30px;
            line-height: 38px;
        }
    }

    &._show-submit-info &__submit-info {
        visibility: visible;
        opacity: 1;
        transition: visibility .3s ease,
                    opacity .3s ease;
    }
}