.gn-button {
    display: inline-block;
    min-width: 260px;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    border-radius: 2px;
    text-align: center;
    background: linear-gradient(180deg, @color-button-start 0%, rgba(255, 255, 255, 0) 100%), @color-button-end;
    .font-bold;
    font-size: 16px;
    color: @color-text-inverted;
    letter-spacing: 0.05em;
}