.hover-default(@opacity: 0.6) {
    &:hover {
        opacity: @opacity;
        cursor: pointer;
    }
}


.active-default() {
    &,
    &:hover {
        opacity: 1;
        cursor: default;
    }
}

.userpic(@size) {
    width: @size;
    height: @size;
    flex: 0 0 @size;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}